<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Website Navigation</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-custom">
    <div class="container-fluid">
      <a class="navbar-brand navbar-title" href="#">
        <img src="assets/images/yogaLogo.jpg" alt="Logo" class="logo">
        <h1>BeginYoga</h1>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
       aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" routerLink="/" routerLinkActive="active">Poses</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/routines" routerLinkActive="active">Routines</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container">
    <router-outlet></router-outlet>
  </div>

  <footer class="custom-blue-bg text-dark py-3">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h5>Contact Information</h5>
          <p class="mb-0">Begin Yoga LTD</p>
          <p class="mb-0">Building 1</p>
          <p class="mb-0">Sligo Retail Work</p>
          <p class="mb-0">Ballintogher</p>
          <p class="mb-0">Sligo</p>
          <p class="mb-0">Email: BeginYogaSupport&#64;gmail.com</p>
          <p class="mb-0">Phone: (123) 456-7890</p>
        </div>
        <div class="col-md-6">
          <h5>Quick Links</h5>
          <ul class="list-unstyled">
            <li><a routerLink="/" routerLinkActive="active">Poses</a></li>
            <li><a  routerLink="/routines" routerLinkActive="active">Routines</a></li>
          </ul>
        </div>
      </div>
      <p class="text-center">&copy; 2024 BeginYogaLTD</p>
    </div>
  </footer>
</body>
</html>