.navbar-custom {
  background-color: #f8f9fa;
  border-bottom: 1px solid #e7e7e7;
  padding: 10px 0; 
}
.nav-link {
  color: #555555;
  font-size: 18px; 
}
.nav-link:hover, .nav-item.active .nav-link {
  color: #0056b3;
}
.navbar-brand {
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo {
  width: 50px; 
  height: 50px; 
  border-radius: 50%; 
  margin-right: 10px; 
}
.navbar-title {
  display: flex;
  align-items: center;
}
.navbar-title h1 {
  font-size: 24px; 
  margin-bottom: 0; 
}
/*footer styling*/
.custom-blue-bg{
  background-color: #d0fff6;
  opacity: 75%;
}